<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petco-Location-Finder</title>
</head>
<body>
    <form action="/addLocation/createLocation" method='POST'>
        <input type="text" placeholder="Enter Broad Location" name='broad'>
        <input type="text" placeholder="Enter Specific Location" name='specific'>
        <input type="text" placeholder="Enter POG Name" name='POGname'>
        <input type="submit">
    </form>
</body>
</html>